:root {
  --1: #d85c27;
  --2: #a96762;
  --3: #14365d;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  text-align: right;
  justify-content: space-around;
  padding-right: 5px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2 {
  text-align: center;
}
h2 {
  background-color: var(--2);
}
header {
  background-color: var(--1);
  display: fixed;
  height: 80px;
  border: solid 5% var(--2);
  padding-bottom: 0.5em;
  padding-top: 1em;
}
img {
  height: 150px;
  width: 1;
  display: flex;
  padding-left: 50%;
}
footer {
  text-align: center;
  background-color: var(--1);
  height: 70px;
  padding-top: 2em;
}

#me{
  float: left;
}
.intro {
  text-align: center;
  padding-top: 1em;
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: var(--3);
  display: flex;
}
.stuff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--2);
  padding-left: 7.5em;
  padding-right: auto;
}

.box {
  width: 30%;
  height: 250px;
  border: solid 5px black;
  text-align: center;
  transition: transform 0.2s;
  background-image: linear-gradient(
    rgba(128, 128, 128, 0.3) 0%,
    rgba(128, 128, 128, 0.6) 100%
  );
}

.box:hover {
  transform: scale(1.25);
background-image: var(--1);
}